<div class ="container">
<!--  <mat-card class = "movie">-->
<!--  <mat-grid-list class = "movie">-->
  <div class ="item">
    <img [src]="screenings[0].movie.poster">
  </div>
  <div class ="item">
    <div class ="desc">
      <div>{{screenings[0].movie.title}}</div>
      <div>{{screenings[0].movie.category.name}}</div>

      <div class="description">{{screenings[0].movie.description}}</div>
    </div>
    <ul class ="days">
      <button (click)="pickDate(day)" class="day" *ngFor="let day of getDays()">
         {{day}}
        </button>
    </ul>

    <div class="pickedDate">
      {{pickedDate}}
    </div>

    <ul>
      <button class="screening" (click)="openDialog(screening)" *ngFor="let screening of showedScreenings">
        {{screening.id }} - {{screening.startTime}}
      </button>
    </ul>
  </div>


<!--</mat-grid-list>-->

  </div>
