{{user.email}}
<ul>
  <li *ngFor="let reservation of user.reservations">
    {{reservation.screening.movie.title}} -
    {{reservation.screening.cinemaRoom.name}} -
    {{reservation.screening.startTime}} -
    {{reservation.seatsIds}}-
    <button *ngIf="!reservation.paid" mat-flat-button color="primary" (click)="pay(reservation)">Pay for reservation</button>
    <button *ngIf="!reservation.paid" mat-flat-button color="warn" (click)="cancelReservation(reservation)">Cancel reservation</button>

    <button *ngIf="reservation.paid" mat-flat-button color="accent" >Download ticket</button>
  </li>
</ul>
