
<mat-toolbar>
  <mat-toolbar-row>

    <button mat-fab extended [routerLink]="'home'">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <p>
      SPOTER
    </p>
    <div *ngIf="!token">
      <button mat-fab extended type="submit" [routerLink] = "'login'" >Login</button>
      <button mat-fab extended type="submit" [routerLink] =" 'register'">Register</button>
    </div>

    <div *ngIf="token">
      <app-logged-controlls></app-logged-controlls>
    </div>


  </mat-toolbar-row>


</mat-toolbar>
