<!--<ng-image-slider [images]="movies"-->
<!--                 [imagePopup]="false" [infinite]="true"-->
<!--                 (imageClick) = "showImage($event)"-->
<!--                 [imageSize]="{width: '220px', height: '300px', space: 4}" #nav>-->
<!--  -->
<!--</ng-image-slider>-->


<div class="parent">
  <mat-form-field >
    <mat-label>Movie</mat-label>
    <input [(ngModel)]="searchText" matInput  placeholder="Movie name" value="">
  </mat-form-field>
  <div class="movies-container" >
    <app-movie *ngFor="let movie of movies | movieFilter: searchText" [movie]="movie"></app-movie>
  </div>
</div>
